html, body {
    margin: 0;
    padding: 0;
    font-family: "PT Sans", sans-serif;
}

header {
    height: 60px;
    padding: 17px 0 22px 0;
    background-color: #eeedec;
    margin-bottom: 20px;
}

header .logo {
    width: 227px;
    height: 61px;
    margin: 0 auto;
    display: block;
}

.cars {
    width: 1024px;
    margin: 0 auto;
}

.cars .car {
    float: left;
    width: 325px;
    margin-right: 20px;
    display: block;
    height: 270px;
    margin-bottom: 20px;
}

.cars .car:nth-child(3n+3) {
    margin-right: 0;
}

.cars .car .img {
    width: 325px;
    height: 200px;
    display: block;
}

.cars .car .img img {
    width: 325px;
    height: 200px;
}

.cars .car h2 {
    font-size: 18px;
    line-height: 18px;
    height: 20px;
    margin-bottom: 5px;
    color: #5a5a5a;
    font-weight: normal;
    text-align: center;
    text-transform: uppercase;
}

.cars .car h2 a {
    color: #5a5a5a;
    text-decoration: none;
}

.cars .car .price {
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    color: #5a5a5a;
}

footer {
    height: 50px;
    line-height: 36px;
    background-color: #5a5a5a;
    text-align: center;
    text-transform: uppercase;
    color: #aeaeae;
    margin: auto;
    padding: 0;
    font-size: 16px;
}

.social-icon-small  {
    float: right;
	width: 30px;
	height: 30px;
	display: inline-block;
	margin: 10px;
}

.search-form {
    width: 740px;
    display: block;
    margin: 0 auto 30px auto;
}

.search-form p {
    float: left;
}

.search-form input[type=number] {
    border: 1px solid #f0efee;
    width: 100px;
    padding: 5px;
    margin-right: 10px;
}

.search-form input[type=submit] {
    background-color: #2bd07c;
    padding: 5px 10px;
    font-weight: bold;
    color: white;
    font-size: 14px;
    margin-top: 17px;
    margin-left: 20px;
    border: 0;
}

.search-form select {
    border: 1px solid #f0efee;
    width: 150px;
    padding: 5px;
    margin-right: 10px;
    font-size: 14px;
}

.search-form .h {
    margin-right: 15px;
}

.search-form label {
    color: #5a5a5a;
    font-weight: normal;
}

.car-name {
    font-size: 28px;
    line-height: 28px;
    height: 28px;
    margin-bottom: 20px;
    color: #5a5a5a;
    font-weight: normal;
    text-align: left;
    text-transform: uppercase;
}

.car-name .price {
    font-weight: bold;
    border: 2px solid #5a5a5a;
    color: #5a5a5a;
    font-size: 18px;
    line-height: 24px;
    height: 24px;
    padding: 0 10px;
    margin-left: 10px;
}

.car-detail {
    width: 1024px;
    margin: 0 auto 20px auto;
}

.car-detail .car {
    float: left;
    width: 675px;
}

.car-detail .order {
    float: left;
    margin-left: 20px;
}

.car-detail .car img {
    width: 600px;
    height: 350px;
    display: block;
    margin-bottom: 10px;
}

.car-detail .car .description {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 40px;
}

.car-detail .order {
    background-color: #eeedec;
    width: 289px;
    padding: 5px 20px;
}

.car-detail .order h2 {
    font-size: 18px;
    line-height: 18px;
    height: 18px;
    color: #5a5a5a;
}

.order-form p {
    margin-bottom: 5px;
}

.order-form label {
    display: block;
    margin-bottom: 10px;
}

.order-form input[type=text] {
    padding: 10px 7px;
    width: 270px;
    border: 0;
    font-size: 14px;
}

.order-form input[type=email] {
    padding: 10px 7px;
    width: 270px;
    border: 0;
    font-size: 14px;
}

.order-form input[type=submit] {
    width: 285px;
    padding: 15px 0;
    border: 0;
    font-size: 16px;
    color: white;
    text-align: center;
    background-color: #2bd07c;
    margin-bottom: 15px;
    cursor: pointer;
    margin-top: 20px;
}

.order-form input[type=reset] {
    width: 285px;
    padding: 15px 0;
    border: 0;
    font-size: 16px;
    color: white;
    text-align: center;
    background-color: #2bd07c;
    margin-bottom: 15px;
    cursor: pointer;
    margin-top: 20px;
}

.button {
    width: 88px;
    padding: 5px 10px;
    border: 0;
    font-weight: bold;
    font-size: 14px;
    color: white;
    text-align: center;
    background-color: #2bd07c;
    margin-bottom: 15px;
    cursor: pointer;
    margin-top: 17px;
}
