{% extends 'index.html' %}
{% load thumbnail %}
{% block application %}
<a href="{% url 'home' %}">Главная</a>
    <div>
        <h1>{{ car.name }}</h1>
        <div>Год выпуска: {{ car.year }}</div>
        <div>Объем двигателя: {{ car.engine }}</div>
        <div>Мощность: {{ car.power }}</div>
        <div>Кузов: {{ car.body }}</div>
        <div>КПП: {{ car.transmission }}</div>
        <div>Цена: {{ car.price }}</div>
        <div>{{ car.description }}</div>
        {% thumbnail car.photo '650x400' crop='center' as im %}
            <img src="{{ im.url }}" alt="{{ car.name }}">
        {% endthumbnail %}
    </div>

    <h2>Заявка</h2>
    <form method="post">
        {{ form.as_p }}
        <button type="submit">Отправить заявку</button>
    </form>
{% endblock %}
