{% extends 'index.html' %}
{% load humanize %}

{% block html_title %}
    {{ car.name }}
{% endblock %}

{% block application %}
    <div class="car-detail">
            <h2 class="car-name">{{ car.name }}<span class="price">{{ car.price | intcomma }} руб.</span></h2>
            <div class="car">
                <div class="price">Год выпуска: {{ car.year }}</div>
                <div class="price">Объем двигателя: {{ car.engine }} л.</div>
                <div class="price">Мощность: {{ car.power }} л/с</div>
                <div class="price">Кузов: {{ car.body }}</div>
                <div class="price">КПП: {{ car.transmission }}</div>
                {% if car.photo %}
                    <img src="{{ car.photo.url }}" alt="{{ car.name }}">
                {% endif %}
                <div class="description">{{ car.description }}</div>
            </div>

        <div class="order">
            <h2>Оставить заявку</h2>
            {% if car.active %}
                {% if sent %}
                    Спасибо! Ваша заявка принята.
                {% endif %}

                <form action="" method="post" class="order-form">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="submit" value="Отправить заявку">
                </form>

            {% else %}
                <p>Машина временно недоступна, попробуйте зайти позже.</p>
            {% endif %}
            </div>
        </div>
        <div style="clear: both"></div>
{% endblock %}
