{% extends 'index.html' %}
{% load humanize %}
{% block application %}

    <form action="" method="get" class="search-form">
        {{ form.as_p }}
        <input type="submit" value="Поиск">
        <a href="{% url 'home' %}"><button type="button" class="button">Сбросить</button></a>
    </form>
    <div style="clear: both"></div>

    <div class="cars">
    {% for car in cars %}
        <div class="car">
            <a href="{% url 'car' car_id=car.id %}" class="img">
                {% if car.photo %}
                    <img src="{{ car.photo.url }}" alt="{{ car.name }}">
                {% endif %}
            </a>
            <h2><a href="{% url 'car' car_id=car.id %}">{{ car.name }}</a> </h2>
            <div class="price">{{ car.price | intcomma }} р/сутки</div>
        </div>
    {% endfor %}
    </div>
    <div style="clear: both"></div>
{% endblock %}
